<%- include("partials/header") %>

<div class="table-container">
  <h2>Update todo</h2>
  <div>
    <a class="btn" href="/">Back</a>
    <form action="/update-todo/<%= todo._id %>" method="post">
      <div class="update-todo">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            value="<%= todo.title %>"
            placeholder="Enter todo title"
          />
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <input
            type="text"
            name="desc"
            value="<%= todo.desc %>"
            placeholder="Enter todo description"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include("partials/footer") %>
